
html,body{
  width:100%;
  height:100%;
}

header{
  width: 100%;
  height: 10%;

}

#section{
  width: 100%;
  height : 90%;
}

.nav-item {
  margin: 5px 10px;
}

.login {
  width:100%;
	height:100%;
	margin: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0);
  
}
.login h4{
  font-weight:bold; 
  text-align:center; 
  margin-top:10%;
  margin-bottom: 10%;
}

.login_container{
  width: 400px;
  padding: 30px 35px 30px 35px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
}

.login_form-group {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height:45px;
}
#login{
  position:relative;
  left:50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  height:45px;
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;

	font-size: 18px;
	background: #1cc979;

}

.join {
  width:100%;
	height:100%;
	margin: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0); 
}
.join_container{
  width: 400px;
  padding: 30px 35px 30px 35px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
}

.join h4{
  font-weight:bold; 
  text-align:center; 
  margin-top:10%;
  margin-bottom: 10%;
}
.register_idForm,.register_pwForm, .register_pwcheckForm, .register_emailForm, .register_nicknameForm, .register_genderForm{
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 0.3em;
  margin-bottom: -5px;
}
.register_birthForm, .col-3{
  display:inline;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-bottom: -10px;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 3px;
  font-size: 16px;
  border-radius: 0.3em;
}
#join{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height:45px;
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
	font-size: 18px;
	background: #1cc979;
}



/*------------------------------------------------*/
.container p {
  margin-top: 100px;
}
.nav-logo {
  color: #1cc979;
  text-decoration: none;
}
.nav-item {
  margin: 5px 0px;
}
.navd {
  width: 80%;
  display: inline-block;
  float: right;
  margin-right: 50px;
}
.n {
  float: right;
  list-style: none;
  margin: 0px;
}
.n li {
  float: left;
}
.nav-item a {
  color: rgb(66, 66, 66);
  size: 20px;
}
.nav-item a:hover {
  color: #1cc979;
  size: 20px;
}
.logo {
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  margin-left: 50px;
}

.log-img {
  width: 30px;
  height: 30px;
}

.toilet-info1 {
  --content-width: calc(var(--column-count) * 120);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(var(--row-count) * 120);
  width: calc(var(--content-width) + 12px);
}

.tinfo {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 120px;
  opacity: 1;
  outline: none;
  position: relative;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: left, top;
  transition-timing-function: ease-in-out;
  user-select: none;
  width: 120px;
}
.tinfo-icon {
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  justify-content: center;
  margin-top: 16px;
  width: 50px;
}
.tinfo-title {
  align-items: center;
  border-radius: 62px;
  display: flex;
  height: 120px;
  line-height: 40px;
  margin-top: 6px;
  padding: 2px 8px;
  width: 88px;
}
.tinfo-title span {
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: rgb(66, 66, 66);
  font-size: 13px;
}

#tfinfo_form {
  align-items: center;
  position: relative;
}
#exampleFormControlInput1 {
  width: 550px;
  margin: 0 auto;
}
#doneBtn {
  width: 150px;
  margin: 0 auto;
}
.tinput {
  margin-top: 100px;
}

/*------------------------------------------------*/



/* Home Map */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}




