<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "nav">
        <ul>
            <li>
                <a href="registration">➕ 화장실 등록</a>
            </li>
            <li>
                <a href="registration"></a>
            </li>
            <li>
                <a href="info">내 정보</a>
            </li>
            <li>
                <a href="login">로그인</a>
            </li>
            <li>
                <a href="">로그아웃</a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
    {% block content %}
    {% end block %}
</body>
</html>