{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="map" style="width: 100vw; height: 100vh;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bb4ddc3805bfbd715140d63a08d376ff"></script>
    <script>
        // 지도 표시
        const container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        const options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };
        const map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // 마커찍기
    </script>
{% endblock %}
