{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>화장실 등록</title>
{% endblock %}

{% block content %}
<div class="container mt-4" id="tfinfo_form">
    <form action="{% url 'toilet:add' %}" method="POST">
        {% csrf_token %}
        <input id="tname" name="tname" value="화장실이름">
        <h5>화장실 정보를 입력해주세요</h5>
        <input id="placeLat" name="tlat" value="위도" style="display: none;">
        <input id="placeLng" name="tlong" value="경도" style="display: none;">
        <input id="tlocation" name="tlocation" value="주소" style="display: none;">

        <div class="tinput">
            <input name="tlocationInBuilding" type="text" class="form-control" id="exampleFormControlInput1" placeholder="건물 내 화장실 위치를 입력해주세요">
        </div>
    

        <div class="toilet-info1 mt-5" style="--column-count: 5;--row-count: 1;">
            <div>
                <label><input type="checkbox" id="tpublic" name="tpublic">남여분리</label>
                <label for="tpublic" class='tinfo-icon'>
                    <img src="" alt="">
                </label>
            </div>
            
            <div>
                <label><input type="checkbox" id="tpassword" name="tpassword">비밀번호</label>
                <label for="tpassword" class='tinfo-icon'>
                    <img src="" alt="">
                </label>
            </div>
            
            <div>
                <label><input type="checkbox" id="tpaper" name="tpaper">휴지비치</label>
                <label for="tpaper" class='tinfo-icon'>
                    <img src="" alt="">
                </label>
            </div>
            
            <div>
                <label><input type="checkbox" id="ttype" name="ttype">좌변기</label>
                <label for="ttype" class='tinfo-icon'>
                    <img src="" alt="">
                </label>
            </div>
            
            <div>
                <label><input type="checkbox" id="tbidget" name="tbidget">비데</label>
                <label for="tbidget" class='tinfo-icon'>
                    <img src="" alt="">
                </label>
            </div>
        </div> 
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-success mt-5" id="doneBtn" type="submit" value="완료">
        </div>
    </form>
</div>
<script>
    // 클릭한 마커의 위도, 경도 정보 받아옴
    result=JSON.parse(localStorage.getItem("placeLocation"));
    placeName=JSON.parse(localStorage.getItem("placeName"));
    placeAddr=JSON.parse(localStorage.getItem("placeAddr"));
    
    document.getElementById('placeLat').value=result.La;
    document.getElementById('placeLng').value=result.Ma;
    document.getElementById('tlocation').value=placeAddr;
    document.getElementById('tname').value=placeName;

</script>

{% endblock %}