{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>비밀번호 수정</title>    
{% endblock %}

{% block content %}
    <section id="seeProfile">
        <div class="seeProfile__background">
            
            <div class="seeProfile__content">
                <div class="content__title">
                    <p id="nickname">{{user.nickname}}님의 비밀번호 수정</p>
                </div>
                <div class="passwords">
                    <input type="text" class="pw" placeholder="새 비밀번호">
                    <input type="text" class="pw" placeholder="새 비밀번호 확인">                    </tr>
                    <input type="text" class="pw" placeholder="현재 비밀번호">
                </div>
                    <a class="btn btn-success cancelBtn" href="{% url 'users:profile' user.id %}">취소</a>
                    <a class="btn btn-success " href="{% url 'users:profile' user.id %}">완료</a>
            </div>
        </div>
    </section>
{% endblock %}